/***************************************************/
/* Default GSC München fonts for bootstrap_package */
/* Letzte Änderung: 23.11.2025                     */
/***************************************************/


/* Webfont: Bitter-Regular */
@font-face {
    font-family: 'Bitter-Regular';
    src: url('../../Fonts/Package/Bitter-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Bitter-Italic */
@font-face {
    font-family: 'Bitter-Italic';
    src: url('../../Fonts/Package/Bitter-Italic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Bitter-Bold */
@font-face {
    font-family: 'Bitter-Bold';
    src: url('../../Fonts/Package/Bitter-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: SourceSansPro-Regular */
@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../../Fonts/Package/SourceSansPro-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: SourceSansPro-Light */
@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../../Fonts/Package/SourceSansPro-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 	
}

/* Webfont: SourceSansPro-Semibold */
@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('../../Fonts/Package/SourceSansPro-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: SourceSansPro-Bold */
@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('../../Fonts/Package/SourceSansPro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Signika-Regular */
@font-face {
    font-family: 'Signika-Regular';
    src: url('../../Fonts/Package/Signika-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}